<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <!-- <meta http-equiv="refresh" content="5"> -->
       <link rel="stylesheet" href="home.css">
       <style>
            h2 {
                  color: blue;
            }
       </style>
</head>
<body>
      <!-- <h1>Hello World! from Home Page</h1> -->
       <!-- <h1> <%- 1+1 %></h1> -->
        <!-- OR -->
       <!-- <h2> <%= 1+1 %></h1> -->

       <h1><%- info %></h1>
       <h1><%- info.name %></h1>
       <h1><%- info.age %></h1>
       <h1><%- info.city %></h1>
      <br><br>
       <h1><%- info2 %></h1>
       <h1 style="color:red"><%- info2.name %></h1>
       <h2><%- info2.capital %></h2>
       <h3><%- info2.population %></h3>


</body>
</html>