<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('./navbar.ejs') %>

    <!-- Main Content -->
    <div class="container">
        <% blogs.forEach(function(blog){ %>
            <div class="card">
                <img src="<%- blog.image %>" alt="Image 1">
                <h3> <%- blog.title %></h3>
                <p class="published-date">Published on: <%- new Date(blog.createdAt).toDateString() %></p>
                <p class="meta-description"> <%- blog.description %></p>
                <button class="read-more"><a href="/blog/<%- blog.id %>">Read More</a></button>
            </div>
        <% }) %>
    </div>

    <!-- Footer -->
    <%- include('./footer.ejs') %>

</body>
</html>
