<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('./navbar.ejs') %>

    <!-- Main Content -->
    <div class="container">
        <% blogs.forEach(function(blog){ %>
            <div class="card">
                <img src="<%- blog.image %>" alt="Image 1">
                <h3> <%- blog.title %></h3>
                <p class="published-date">Published on: <%- new Date(blog.createdAt).toDateString() %></p>
                <p class="meta-description"> <%- blog.description.slice(0, 100) %></p>
                <!-- <p class="blog-author">Author: <%- blog.user.username %></p> -->
                <!-- or -->
                <p class="blog-author">Author: <%- blog.user ? blog.user.username : 'Unknown' %></p>
                <!-- <p class="blog-author-email">Author Email: <%- blog.user.email %></p> -->
                <button class="read-more"><a href="/blog/<%- blog.id %>">Read More</a></button>
            </div>
        <% }) %>
    </div>

    <!-- Footer -->
    <%- include('./footer.ejs') %>

</body>
</html>
