<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Card</title>
  <link rel="stylesheet" href="/singleBlog.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('./navbar.ejs') %>

  <div class="blog-card">
    <img src="http://localhost:3000/<%- blog.image %>" alt="Blog Image" class="blog-image">
    <div class="blog-content">
      <h2 class="blog-title"><%- blog.title %></h2>
      <p class="blog-date">Published on: <%- new Date(blog.createdAt).toDateString() %></p>
      <p class="blog-description"><%- blog.description %></p>
      <!-- <button class="delete-button"><a href="/delete/<%- blog.id %>">Delete</a></button> -->
      <!-- <button class="edit-button"><a href="/edit/<%- blog.id %>">Edit</a></button> -->
      <div class="blog-actions">
        <button class="btn edit-btn"><a href="/edit/<%- blog.id %>">Edit</a></button>
        <button class="btn delete-btn"><a href="/delete/<%- blog.id %>">Delete</a></button>
      </div>
    </div>
  </div>

  <!-- footer -->
  <%- include('./footer.ejs') %>

</body>
</html>
